@model IEnumerable<FinalProject.Domain.Entities.Bet>

@{
    ViewBag.Title = "ViewBets";
}

<h2>Current Bets</h2>
<div id="table">
    <table class="table">
        <tr>
            <th>
                Bet Holder
            </th>
            <td></td>
            <th>
                Team Name
            </th>
            <th></th>
            <th>
                Opposition
            </th>
            <th>
                Odds
            </th>
            <th>
                Favourites
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetPayout)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            var imagePath1 = "";
            var imagePath2 = "";
            var imagename1 = "";
            var imagename2 = "";
            if (item.TeamName != null)
            {
                imagePath1 = "/Images/" + item.TeamName + ".png";
                imagename1 = item.TeamName;
            }

            if (item.OpposingTeamName != null)
            {
                imagePath2 = "/Images/" + item.OpposingTeamName + ".png";
                imagename2 = item.OpposingTeamName;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td><img src="@imagePath1" alt="@imagename1" style="width:50px;height:50px;"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td><img src="@imagePath2" alt="@imagename2" style="width:50px;height:50px;"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpposingTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BettingOdds)
                </td>
                <td>
                    @item.isFavourite.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BetPayout)
                </td>
            </tr>
        }

    </table>
</div>
